# general
SERVER_PORT=5001
SERVER_URL="http://localhost:5001"
CLIENT_URL="http://localhost:3001"
DOMAIN="localhost"

# jwt
JWT_ISSUER="localhost"
JWT_SECRET="secret"
JWT_EXPIRE="3h"

# mysql
MYSQL_USERNAME="root"
MYSQL_PASSWORD="root"
MYSQL_DATABASE=""
MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306
