# general
SERVER_PORT=5000
SERVER_URL="http://localhost:5000"
CLIENT_URL="http://localhost:3000"
DOMAIN="localhost"

# jwt
JWT_ISSUER="localhost"
JWT_SECRET="secret"
JWT_EXPIRE="3h"

# mysql
MYSQL_USERNAME="root"
MYSQL_PASSWORD="root"
MYSQL_DATABASE=""
MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306

# aws
AWS_REGION="ap-northeast-2"
S3_BUCKET=""
CF_ENDPOINT=""
AWS_ACCESS_KEY=""
AWS_ACCESS_SECRET=""

# sms
NCLOUD_ACCESS_KEY=""
NCLOUD_ACCESS_SECRET=""
