.idea
*.swp
*~

.eslintcache
.env*
!.env.sample
*.db
*.gz
*-audit.json
coverage
data
dist
junit.xml
lerna-debug.log
nohup.out
npm-debug.log
npm-debug.log*
package-lock.json
yarn-error.log*
configs/logs
